<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!-- Home Section -->
    <section id="home" class="home-section" th:fragment="index-home">
          <div class="container">
                <h1>Welcome to the Student Management System</h1>
                <p>Manage your school's students, teachers, and more with ease.</p>
                <a href="/sign-up-page" class="btn-primary">Get Started</a>
          </div>
    </section>
</body>
</html>